#INPUTS
NET "clk"  LOC = "E12" | IOSTANDARD = LVCMOS33 ;
NET "reset"  LOC = "U15" | IOSTANDARD = LVTTL | PULLDOWN; 
NET "strtstop"  LOC = "T15" | IOSTANDARD = LVTTL | PULLDOWN  ; 
NET "lap_load"  LOC = "T16" | IOSTANDARD = LVTTL | PULLDOWN  ; 
NET "mode"  LOC = "T14" | IOSTANDARD = LVTTL | PULLDOWN  ; 

#OUTPUTS
NET "lcd_e" LOC = "AB4" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = QUIETIO ;
NET "lcd_rs" LOC = "Y14" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = QUIETIO ;
NET "lcd_rw" LOC = "W13" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = QUIETIO ;
NET "sf_d<7>" LOC = "Y15" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = QUIETIO ;
NET "sf_d<6>" LOC = "AB16" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = QUIETIO ;
NET "sf_d<5>" LOC = "Y16" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = QUIETIO ;
NET "sf_d<4>" LOC = "AA12" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = QUIETIO ;
NET "sf_d<3>" LOC = "AB12" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = QUIETIO ;
NET "sf_d<2>" LOC = "AB17" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = QUIETIO ;
NET "sf_d<1>" LOC = "AB18" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = QUIETIO ;
NET "sf_d<0>" LOC = "Y13" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = QUIETIO ;
#NET "test_out" LOC = "u20" | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = QUIETIO ;